{% load form_tags %}
{% if fld|fieldtype == "BooleanField" %}
<div class="checkbox">
    <label for="{{ fld.id_for_label }}">
        {{ fld }}
        {{ fld.label }}
        {% if fld.help_text %}<a data-toggle="tooltip" data-placement="right" title="{{ fld.help_text }}">(?)</a>{% endif %}
    </label>
</div>
{% else %}
<div class="form-group{% if fld.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ fld.id_for_label }}">
        {{ fld.label }}
        {% if fld.help_text %}<a data-toggle="tooltip" data-placement="right" title="{{ fld.help_text|striptags|safe }}">(?)</a>{% endif %}
    </label>
    {{ fld|withcss:css }}{% if fld.field.widget.attrs.disabled %}{{ fld.as_hidden }}{% endif %}
    {% if fld.errors %}<span>{% for err in fld.errors %}{{ err }}{% endfor %}</span>{% endif %}
</div>
{% endif %}