{% load i18n %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Oops</strong> {% trans "Please correct the errors in the form below, and try again" %}<br>
    {% for error in form.non_field_errors %}{{ error }}{% endfor %}
</div>
{% endif %}