{% load static %}
<div class="videolistsmall">
    <ul class="bloglist">
        {% for related in item.get_related %}
        <li>
            <div class="media">
                <a href="{{ related.get_absolute_url }}" class="pull-left">
                    <img alt="" class="media-object img-responsive hovereffect" src='{{ related.poster.url }}'>
                </a>
                <div class="media-body">
                    <h5><a href="{{ related.get_absolute_url }}">{{ related }}</a></h5>
                    <ul>
                        <li>
                            <i class="fa fa-align-justify"></i>
                            <a href="#">{{ related.channel }}</a><!-- TODO: more from this channel -->
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>