{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ol class="breadcrumb">
        <li><a href="{% url 'shows:broadcast' %}">Home</a></li>
        {% block admin_title %}
        <li class="active">Channel</li>
        {% endblock %}
    </ol>
</div>
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 conentsection">
    {% block admin_content %}{% endblock %}
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 equalcol graysidebar {% block admin_page %}{% endblock %}">
    <div class="widget">
        <h2 class="heading">Manage</h2>
        <div class="categorieslist">
            <ul>
                <li><a href="{% url 'shows:manage_channel' %}">Channel</a></li>
                <li><a href="{% url 'shows:broadcast' %}">Shows</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}