{% extends "shows/admin.html" %}
{% load i18n static %}

{% block title %}{% trans "Go Live" %}{% endblock %}

{% block admin_title %}
<li class="active">Shows</li>
{% endblock %}

{% block admin_content %}
<div class="sections">
    <h2 class="heading">Shows</h2>
    <div class="clearfix"></div>
    <div class="form-group pull-right">
        <a href="{% url 'shows:new_show' %}" class="btn btn-primary backcolor">
            {% trans "New Show" %}
        </a>
    </div>
    {% for show in shows %}
        <div class="media"> 
            <a href="{% url 'shows:manage_show' show_name=show.stream_name %}" class="pull-left">
                <img alt="" class="media-object hovereffect" src='{{ show.poster.url }}'>
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{% url 'shows:manage_show' show_name=show.stream_name %}">
                        {{ show.title }}
                    </a>
                </h4>
                <p>{{ show.description }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    {% endfor %}
    <br>
</div>
{% endblock %}