{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block bodytheme %}light{% endblock %}

{% block content %}
<section class="flat-dialog with-border with-padding">
    <h2>{% trans "Password Reset Complete" %}</h2>
    <p>
        {% trans "Your new password has been set. You may go ahead and sign in now." %}<br>
    </p>
    <p>
        <a href="{% url 'accounts:login' %}">Return to Sign In page.</a>
    </p>
</section>
{% endblock %}