{% extends "base_mail.html" %}

{% block content %}
<p>
    Hello {{ user.get_short_name }},
</p>
<p>
    We received a request to reset your password. Click on the link below, or
    copy it and paste it into your browser, to reset your password:
</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:confirm_reset_password' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'accounts:confirm_reset_password' uidb64=uid token=token %}
    </a>
</p>
<p>
    If you did not make this request, you can safely delete this email. Your password
    will not be changed.
</p>
<p>
    Kind regards,<br>
    The WStreams Team
</p>
{% endblock %}